.pageHeader {
    text-align: center;
    margin-bottom: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.shop {
    flex-basis: 25%;
    border: 1px dotted black;
    padding: 0em;
    margin: 0em;
   
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}